server:
  port: 8080

---
spring:
  application:
    name: Application

---
spring:
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false

---
springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    enabled: true

---
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123456aA@}
    hikari:
      connection-timeout: 60000
      max-lifetime: 60000
      minimum-idle: 10
      maximum-pool-size: 20
      auto-commit: false
      data-source-properties:
        connectTimeout: 60000
        socketTimeout: 60000
        useUnicode: true
        characterEncoding: utf-8
        rewriteBatchedStatements: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        enable_lazy_load_no_trans: true
        temp:
          use_jdbc_metadata_defaults: false
        jdbc.batch_size: 1000
        order_inserts: true
        order_updates: true
        format_sql: false
    show-sql: false
  flyway:
    enabled: true
    locations:
      - classpath:migration
    placeholder-replacement: false